@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@100;200;300;400;500;600;700;800;900&family=Oleo+Script+Swash+Caps:wght@400;700&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700&family=Righteous&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto';
}

h1 {
    max-width: 100%;
    min-height: 15vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-weight: 700;
    font-size: 66px;
    letter-spacing: -0.004em;
    color: #75B79E;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardBoard {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 55vw;
    height: auto;
}

.card {
    width: 130px;
    height: 170px;
    position: relative;
    perspective: 800px;
    margin: 5px;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.front,
.back {
    position: absolute;
    width: 117px;
    height: 146px;
    box-shadow: 10px 10px 10px -4px rgba(0, 0, 0, 0.25);
    background: #A7E9AF;
    border: 1px solid #99CEA8;
    border-radius: 5px;
    display: flex;

    transition: 700ms;
}

img {
    width: 100%;
    min-height: 50%;
}

.card.flip .back {
    transform: rotateY(0deg);
    z-index: 1;
}

.card.flip .front {
    transform: rotateY(-180deg);
    backface-visibility: hidden;
    z-index: 0;
}

@media (max-width: 650px) {
    h1 {
        font-size: 30px;
    }
}