* {
  box-sizing: border-box;
}

body {
  background-color: #FAFAFA;
  margin: 54px 0 0;
  font-family: 'Roboto', sans-serif;
  color: #262626;
  font-weight: 400;
  font-size: 14px;
}

.navbar {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 54px;
  border-bottom: 1px solid #DBDBDB;
  font-size: 22px;
  background-color: #FFF;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}

.navbar ion-icon,
.navbar img {
  cursor: pointer;
}

.navbar .container {
  width: 100%;
  max-width: 935px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.navbar .container>* {
  display: flex;
  align-items: center;
  height: 100%;
}

.navbar .logo img {
  position: relative;
  top: 3px;
}

.navbar .logo .separador {
  width: 1px;
  height: 22px;
  background-color: #DBDBDB;
  margin: 0 10px;
}

.navbar .pesquisa input {
  width: 215px;
  height: 28px;
  border-radius: 3px;
  background-color: #FAFAFA;
  border: 1px solid #DBDBDB;
  color: #979797;
  text-align: center;
}

.navbar .icones ion-icon {
  margin: 0 5px;
}

.navbar .icones-mobile {
  display: none;
}

.corpo {
  display: flex;
  justify-content: space-between;
  width: 935px;
  margin: 0 auto;
}

.esquerda {
  width: 100%;
  max-width: 614px;
}

.sidebar {
  width: 293px;
}

.stories {
  border: 1px solid #dbdbdb;
  display: flex;
  width: 614px;
  height: 118px;
  margin-top: 60px;
  margin-bottom: 24px;
  background-color: #ffffff;
  overflow: hidden;
  position: relative;
}

.imagem {
  background-image: url("../assets/img/stories_background.jpg");
  width: 66px;
  height: 66px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
}

.story {
  width: 78px;
  margin-left: 1.5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.usuario {
  font-style: normal;
  font-size: 12px;
  line-height: 100%;
  fill: Solid;
  color: #262626;
}

.imagem img {
  width: 58px;
  height: 58px;
  border-radius: 50%;
}

.stories {
  width: 614px;
  height: 118px;
  display: flex;
  align-items: center;
}

.menu ion-icon {
  position: absolute;
  width: 32px;
  height: 32px;
  right: 3px;
  bottom: 50px;
  border-radius: 50%;
  box-shadow: blanchedalmond;
  filter: drop-shadow(0 4px rgba(0, 0, 0, 0.25));
  color: #fafafa;
  left: 95%;
}

.post {
  border-radius: 3px;
  border: 1px solid #DBDBDB;
  display: flex;
  flex-direction: column;
  margin-top: 18px;
}

.post .topo {
  display: flex;
  justify-content: space-between;
  padding: 13px 14.5px;
  font-size: 14px;
  font-weight: 500;
}

.post .topo .usuario,
.post .topo .acoes {
  display: flex;
  align-items: center;
}

.post .usuario img {
  width: 32px;
  height: 32px;
  margin-right: 10px;
  border-radius: 16px;
}

.post .usuario,
.post .topo img,
.post .fundo img,
.post ion-icon,
.post strong,
.usuario ion-icon,
.usuario>img,
.conteudo>img {
  cursor: pointer;
}

.post .conteudo img {
  width: 100%;
}

.post .fundo .acoes {
  display: flex;
  justify-content: space-between;
  padding: 13px 15.3px;
  font-size: 24px;
}

.post .fundo .acoes div:first-child ion-icon {
  margin-right: 6px;
}

.post .fundo .curtidas {
  display: flex;
  align-items: center;
  padding: 0 16px 13px;
  font-weight: 300;
}

.post .fundo .curtidas img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.curtidas img {
  border-radius: 50%;
}

.post:last-child {
  margin-bottom: 18px;
}

.sidebar {
  font-weight: 500;
  color: #262626;
  margin-left: 2%;
  width: 30%;
  height: 40%;
  position: -webkit-sticky;
  position: sticky;
  top: 20%;
  right: 5%;
  bottom: 0;
}

.sidebar>.usuario {
  display: flex;
  align-items: center;
}

.sidebar>.usuario img {
  width: 56px;
  height: 56px;
  border-radius: 50%;
}

.sidebar>.usuario .texto {
  display: flex;
  flex-direction: column;
  margin-left: 14px;
  font-weight: 300;
  color: #8E8E8E;
}

.sidebar>.usuario .texto strong {
  font-weight: 500;
  color: #262626;
}

.sidebar .sugestoes .titulo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0 14px;
}

.sidebar .sugestoes .sugestao {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  height: 31px;
  margin-bottom: 16px;
}

.sidebar .sugestoes .sugestao .usuario {
  display: flex;
}

.sidebar .sugestoes img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.sidebar .sugestoes .seguir {
  color: #139EF2;
  font-weight: 600;
}

.sidebar .sugestoes .sugestao .usuario .texto {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sidebar .sugestoes .sugestao .usuario .texto :last-child {
  color: #8E8E8E;
  font-weight: 400;
}

.links,
.copyright {
  font-size: 11px;
  color: #C7C7C7;
}

.links {
  margin-top: 40px;
  cursor: pointer;
}

.copyright {
  margin-top: 18px;
}

.fundo-mobile {
  display: none;
}

.fundo-mobile ion-icon {
  cursor: pointer;
}

.logo-mobile,
.instagram-mobile {
  display: none !important;
}

ion-icon[name="heart"] {
  color: red;
  visibility: visible;
}

ion-icon[name="bookmark"] {
  color: rgba(30, 31, 16, 0.841);
  visibility: visible;
}

ion-icon {
  visibility: visible;
}

.rodape-mobile {
  position: fixed;
  z-index: 1;
  right: 0;
  left: 0;
  bottom: 0;
  height: 54px;
  background: #ffffff;
  border: 1px solid #dbdbdb;
  display: none;
}

@media (max-width: 935px) {
  .sidebar {
    display: none;
  }

  .navbar .container {
    padding: 0 20px;
  }

  .corpo {
    justify-content: center;
    width: 100%;
  }
}

@media (max-width: 614px) {
  .corpo {
    margin-top: 0;
  }

  .post {
    border-radius: 0;
    border-left: none;
    border-right: none;
    width: 100%;
  }

  .post:last-child {
    margin-bottom: 72px;
  }

  .stories {
    background-color: transparent;
    border: none;
    width: 100%;
  }

  .post:first-child {
    margin-top: 0;
  }

  .navbar .pesquisa {
    display: none;
  }

  .navbar .icones {
    display: none;
  }

  .navbar .icones-mobile {
    display: flex;
  }

  .fundo-mobile {
    display: flex;
    padding: 0 20px;
    justify-content: space-between;
    align-items: center;
    font-size: 24px;
    background-color: #FFF;
    border-top: 1px solid #DBDBDB;
    height: 54px;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
  }

  .rodape-mobile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px 0 20px;
    width: 100%;
  }

  .rodape-mobile ion-icon {
    font-size: 20px;
  }

  .navbar .logo {
    display: none;
  }

  .logo-mobile,
  .instagram-mobile {
    display: flex !important;
  }

  .instagram-mobile {
    position: relative;
    top: 4px;
  }

  .menu {
    visibility: hidden;
  }

  ion-icon {
    visibility: visible;
  }

  .usuario ion-icon {
    margin-left: 5px;
  }
}